@import 'reset.scss'; // the file is _reset.scss
                      // this tells the sass engine that this file
                      // should not generate a css file.
@import 'hamburgers.scss';
@import './partials/typography';

.one {
    display: flex;
    justify-content: center;
    color: hsl(0, 95, 45);

    &:hover {
        background-color: hsl(0, 0, 30);
    }
}